

.bag{
  background-color: #0f3057;
}

body {
 background-color:#ffd66b;
}
.container-fluid{
  padding-top: 30px;
  padding: 10px;
 
}
h1{
  color: #000;
  text-align: center;
  font-weight: bold;
}
span{
  font-family:  'Gorditas', cursive;
  color: #00587a;
font-size: 50px;
font-weight: bold;
}
.cont {
  margin-top: 5%;
  margin-left: 46%;
}

.ghost {
  
  animation: float 2s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
}
.shadow {

  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  
}
ellipse {
  transform-origin: center center;
}
@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

@media (max-width: 1028px)
{
  .cont {
    margin-top: 10%;
    margin-left: 37%;
  }
}